* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    /*background-image: url("./assets/background.jpg");*/
    background-color: green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 650px;
    background: #e1e1e1;
    display: grid;
    grid-template-rows: 120px 120px 120px 120px;
    align-content: space-around;
    justify-items: center;
}

.turtle {
    width: 90%;
    height: 100%;
    background: white;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 35% 65%;
    cursor: pointer;
}

.turtle:hover {
    background: #f1f1f1;
}

.picture {
    width: 90px;
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-self: center;
}

.info {
    display: grid;
    grid-template-rows: 60% 40%;
    align-items: center;
    justify-items: center;
}

.name {
    font-size: 24px;
    color: #656565;
    font-weight: bold;
}

.dragging {
    opacity: .5;
}

.text {
    font-family: Tahoma;
}