@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(118,214,141);
    background:
            linear-gradient(45deg, rgba(118,214,141,1) 0%, rgba(22,183,69,1) 46%, rgba(143,255,0,1) 100%);
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 650px;
    background: rgba(230, 234, 243, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.turtle {
    width: 90%;
    height: 132px;
    border: 2px rgba(0, 0, 0, 0.2) solid;
    background: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 35% 65%;
    cursor: all-scroll;
    transition: .3s;
}

.turtle:hover {
    background: rgba(255, 255, 255, 0.8);
    height: 140px;
    width: 93%;
}

.picture {
    width: 90px;
    border-radius: 20px;
    filter: brightness(110%);
    display: flex;
    align-self: center;
    justify-self: center;
}

.info {
    display: grid;
    grid-template-rows: 60% 40%;
    align-items: center;
    justify-items: center;
}

.name {
    font-size: 24px;
    color: #656565;
    font-weight: 700;
}

.dragging {
    opacity: .5;
}